.meal-container{
    width: 25rem;
    margin: 1rem;
    padding: 1rem;
}
.meal-img{
    /* width: 20rem; */
    height: 20rem;
}
.meal-img img{
    width: 100%;
    height: 100%;
}
.meal-content{
    padding: 1rem 0rem;
    height: 12rem;
}
.meal-title{
    font-size: 2rem;
}
.meal-desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
}
.meal-price{
    font-size: 1.8rem;
    font-weight: bold;
}
